In [1]:
import numpy as np
import pandas as pd
import random as rd
import matplotlib.pyplot as plt
from datetime import datetime

In [2]:
def holiday(d):
    hol={"2/1/2017","28/1/2017","30/1/2017","31/1/2017","4/4/2017","1/5/2017","30/5/2017","1/7/2017","2/10/2017","5/10/2017","28/10/2017","22/12/2017","25/12/2017","1/1/2018","16/2/2018","19/2/2018","5/4/2018","1/5/2018","18/6/2018","2/7/2018","25/9/2018","1/10/2018","17/10/2018","22/12/2018","25/12/2018"}
    if d in hol:
        return 1
    else:
        return 0
    
def next_day_holiday(d):
    hol={"1/1/2017","27/1/2017","29/1/2017","30/1/2017","3/4/2017","30/4/2017","29/5/2017","30/6/2017","1/10/2017","4/10/2017","27/10/2017","21/12/2017","24/12/2017","31/12/2017","15/2/2018","18/2/2018","4/4/2018","30/4/2018","17/6/2018","1/7/2018","24/9/2018","31/9/2018","16/10/2018","21/12/2018","24/12/2018"}
    if d in hol:
        return 1
    else:
        return 0
    
def norm_time(d):
    if d<=5:
        return 1
    elif d==6:
        return 2
    elif d==7:
        return 3
    elif d<=9:
        return 4
    elif d<=11:
        return 5
    elif d<=16:
        return 6
    elif d<=18:
        return 7
    elif d==19:
        return 8
    elif d==20:
        return 9
    elif d==21:
        return 10
    else:
        return 11

In [4]:
rawdataframe=pd.read_csv("C:\\Users\\fifine\\Desktop\\HKUST\\sem1\\5001\\kaggle\\train.csv",header='infer')
rawdataframe=rawdataframe.set_index("id")
rawdataframe['date1']=rawdataframe["date"].astype(str).str.split( )
rawdataframe['time']=rawdataframe['date1'].apply(lambda x:x[1])
rawdataframe['time']=rawdataframe['time'].apply(lambda x:int(x[:-3]))
rawdataframe['date2']=rawdataframe['date1'].apply(lambda x:x[0])
rawdataframe['weekday']=rawdataframe['date2'].apply(lambda x: datetime.strptime(x, '%d/%m/%Y').isoweekday())
rawdataframe['holiday']=rawdataframe['date2'].apply(holiday)
rawdataframe['next_day_holiday']=rawdataframe['date2'].apply(next_day_holiday)
#a=rawdataframe.groupby(["date2","norm_time"]).mean()
rawdataframe

,date,speed,date1,time,date2,weekday,holiday,next_day_holiday
id,,,,,,,,
1,1/1/2017 0:00,43.002930,"[1/1/2017, 0:00]",0,1/1/2017,7,0,1
2,1/1/2017 1:00,46.118696,"[1/1/2017, 1:00]",1,1/1/2017,7,0,1
3,1/1/2017 2:00,44.294158,"[1/1/2017, 2:00]",2,1/1/2017,7,0,1
4,1/1/2017 3:00,41.067468,"[1/1/2017, 3:00]",3,1/1/2017,7,0,1
5,1/1/2017 4:00,46.448653,"[1/1/2017, 4:00]",4,1/1/2017,7,0,1
6,1/1/2017 5:00,46.797766,"[1/1/2017, 5:00]",5,1/1/2017,7,0,1
7,1/1/2017 6:00,44.404925,"[1/1/2017, 6:00]",6,1/1/2017,7,0,1
8,1/1/2017 7:00,45.255897,"[1/1/2017, 7:00]",7,1/1/2017,7,0,1
9,1/1/2017 8:00,45.680859,"[1/1/2017, 8:00]",8,1/1/2017,7,0,1
10,1/1/2017 9:00,48.435676,"[1/1/2017, 9:00]",9,1/1/2017,7,0,1
11,1/1/2017 10:00,49.457054,"[1/1/2017, 10:00]",10,1/1/2017,7,0,1
12,1/1/2017 11:00,41.968519,"[1/1/2017, 11:00]",11,1/1/2017,7,0,1
13,1/1/2017 12:00,42.724735,"[1/1/2017, 12:00]",12,1/1/2017,7,0,1
14,1/1/2017 13:00,47.936459,"[1/1/2017, 13:00]",13,1/1/2017,7,0,1
15,1/1/2017 14:00,45.971881,"[1/1/2017, 14:00]",14,1/1/2017,7,0,1
16,1/1/2017 15:00,41.359861,"[1/1/2017, 15:00]",15,1/1/2017,7,0,1
17,1/1/2017 16:00,43.868033,"[1/1/2017, 16:00]",16,1/1/2017,7,0,1
18,1/1/2017 17:00,47.615541,"[1/1/2017, 17:00]",17,1/1/2017,7,0,1
19,1/1/2017 18:00,38.352760,"[1/1/2017, 18:00]",18,1/1/2017,7,0,1
20,1/1/2017 19:00,47.268928,"[1/1/2017, 19:00]",19,1/1/2017,7,0,1
21,1/1/2017 20:00,46.444756,"[1/1/2017, 20:00]",20,1/1/2017,7,0,1
22,1/1/2017 21:00,41.981908,"[1/1/2017, 21:00]",21,1/1/2017,7,0,1
23,1/1/2017 22:00,39.817240,"[1/1/2017, 22:00]",22,1/1/2017,7,0,1
24,1/1/2017 23:00,44.277821,"[1/1/2017, 23:00]",23,1/1/2017,7,0,1
25,2/1/2017 0:00,47.621563,"[2/1/2017, 0:00]",0,2/1/2017,1,1,0
26,2/1/2017 1:00,47.070161,"[2/1/2017, 1:00]",1,2/1/2017,1,1,0
27,2/1/2017 2:00,46.894923,"[2/1/2017, 2:00]",2,2/1/2017,1,1,0
28,2/1/2017 3:00,47.061395,"[2/1/2017, 3:00]",3,2/1/2017,1,1,0
29,2/1/2017 4:00,47.016156,"[2/1/2017, 4:00]",4,2/1/2017,1,1,0
30,2/1/2017 5:00,44.826296,"[2/1/2017, 5:00]",5,2/1/2017,1,1,0
...,...,...,...,...,...,...,...,...
13987,29/12/2018 11:00,37.580248,"[29/12/2018, 11:00]",11,29/12/2018,6,0,0
13988,29/12/2018 13:00,19.302403,"[29/12/2018, 13:00]",13,29/12/2018,6,0,0
13989,29/12/2018 16:00,19.888225,"[29/12/2018, 16:00]",16,29/12/2018,6,0,0
13990,29/12/2018 17:00,26.485295,"[29/12/2018, 17:00]",17,29/12/2018,6,0,0
13991,29/12/2018 18:00,29.524595,"[29/12/2018, 18:00]",18,29/12/2018,6,0,0
13992,29/12/2018 20:00,42.579429,"[29/12/2018, 20:00]",20,29/12/2018,6,0,0
13993,29/12/2018 23:00,36.564350,"[29/12/2018, 23:00]",23,29/12/2018,6,0,0
13994,30/12/2018 2:00,45.401721,"[30/12/2018, 2:00]",2,30/12/2018,7,0,0
13995,30/12/2018 8:00,49.764772,"[30/12/2018, 8:00]",8,30/12/2018,7,0,0
13996,30/12/2018 10:00,45.744544,"[30/12/2018, 10:00]",10,30/12/2018,7,0,0
13997,30/12/2018 11:00,39.989666,"[30/12/2018, 11:00]",11,30/12/2018,7,0,0
13998,30/12/2018 12:00,43.363523,"[30/12/2018, 12:00]",12,30/12/2018,7,0,0
13999,30/12/2018 13:00,45.508154,"[30/12/2018, 13:00]",13,30/12/2018,7,0,0
14000,30/12/2018 16:00,40.334074,"[30/12/2018, 16:00]",16,30/12/2018,7,0,0
14001,30/12/2018 19:00,44.876075,"[30/12/2018, 19:00]",19,30/12/2018,7,0,0
14002,30/12/2018 21:00,40.222742,"[30/12/2018, 21:00]",21,30/12/2018,7,0,0
14003,30/12/2018 22:00,34.760750,"[30/12/2018, 22:00]",22,30/12/2018,7,0,0
14004,31/12/2018 1:00,47.808332,"[31/12/2018, 1:00]",1,31/12/2018,1,0,0
14005,31/12/2018 2:00,46.536514,"[31/12/2018, 2:00]",2,31/12/2018,1,0,0
14006,31/12/2018 3:00,46.702505,"[31/12/2018, 3:00]",3,31/12/2018,1,0,0
14007,31/12/2018 4:00,46.949353,"[31/12/2018, 4:00]",4,31/12/2018,1,0,0
14008,31/12/2018 7:00,39.646151,"[31/12/2018, 7:00]",7,31/12/2018,1,0,0
14009,31/12/2018 8:00,19.509383,"[31/12/2018, 8:00]",8,31/12/2018,1,0,0
14010,31/12/2018 9:00,20.291883,"[31/12/2018, 9:00]",9,31/12/2018,1,0,0
14011,31/12/2018 10:00,33.851121,"[31/12/2018, 10:00]",10,31/12/2018,1,0,0
14012,31/12/2018 12:00,19.865269,"[31/12/2018, 12:00]",12,31/12/2018,1,0,0
14013,31/12/2018 15:00,17.820375,"[31/12/2018, 15:00]",15,31/12/2018,1,0,0
14014,31/12/2018 16:00,12.501851,"[31/12/2018, 16:00]",16,31/12/2018,1,0,0
14015,31/12/2018 18:00,15.979319,"[31/12/2018, 18:00]",18,31/12/2018,1,0,0
14016,31/12/2018 20:00,40.594183,"[31/12/2018, 20:00]",20,31/12/2018,1,0,0

In [5]:
weather=pd.read_csv("C:\\Users\\fifine\\Desktop\\HKUST\\sem1\\5001\\kaggle\\weather.csv",header='infer')
weather.columns=list(range(1,14))

def rain(d):
    if d=="微量":
        return 0
    else:
        return d
    
def norm_rain(d):
    
    if d<=10:
        return 0
    elif d<=30:
        return 1
    elif d<100:
        return 2
    else:
        return 3
    
temp=weather[[1,5,8,10]]
temp[10]=temp[10].apply(rain)
temp[10]=temp[10].astype("float64")
temp

C:\Users\fifine\Anaconda3\lib\site-packages\ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\fifine\Anaconda3\lib\site-packages\ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

             1     5   8     10
0      1/1/2017  19.2  80   0.0
1      2/1/2017  20.2  81   0.0
2      3/1/2017  20.0  83   0.0
3      4/1/2017  19.9  80   0.0
4      5/1/2017  21.1  80   0.0
5      6/1/2017  21.6  80   0.0
6      7/1/2017  21.1  79   0.0
7      8/1/2017  22.6  76   0.0
8      9/1/2017  20.6  78   0.0
9     10/1/2017  19.4  79   0.0
10    11/1/2017  19.1  80   0.0
11    12/1/2017  19.0  81   0.0
12    13/1/2017  15.9  84   0.5
13    14/1/2017  15.7  87   1.0
14    15/1/2017  15.5  85   1.5
15    16/1/2017  16.3  80   0.4
16    17/1/2017  18.0  76   0.0
17    18/1/2017  18.9  86   0.0
18    19/1/2017  20.4  85   0.0
19    20/1/2017  18.3  69   0.0
20    21/1/2017  16.7  67   0.0
21    22/1/2017  16.4  58   0.0
22    23/1/2017  16.8  71   0.0
23    24/1/2017  17.0  72   0.0
24    25/1/2017  17.5  76   0.0
25    26/1/2017  17.3  75   0.0
26    27/1/2017  17.5  69   0.0
27    28/1/2017  17.3  79   0.3
28    29/1/2017  19.1  88   2.4
29    30/1/2017  20.2  90   1.2
..          ...   ...  ..   ...
700   2/12/2018  22.4  83   0.0
701   3/12/2018  23.7  79   0.0
702   4/12/2018  24.8  78   0.0
703   5/12/2018  23.6  82   0.0
704   6/12/2018  23.3  84   0.1
705   7/12/2018  21.1  88   1.0
706   8/12/2018  18.0  76   0.0
707   9/12/2018  17.0  75   0.0
708  10/12/2018  17.0  75   0.2
709  11/12/2018  18.0  68   0.0
710  12/12/2018  14.9  67   0.0
711  13/12/2018  15.6  68   0.0
712  14/12/2018  16.8  72   0.0
713  15/12/2018  18.9  75   0.0
714  16/12/2018  19.3  74   0.0
715  17/12/2018  18.0  56   0.0
716  18/12/2018  18.1  60   0.0
717  19/12/2018  19.9  78   0.0
718  20/12/2018  21.6  84   0.0
719  21/12/2018  22.4  86   0.0
720  22/12/2018  22.2  77   0.0
721  23/12/2018  20.1  89  10.5
722  24/12/2018  18.0  86   0.1
723  25/12/2018  19.7  81   0.0
724  26/12/2018  20.9  84   0.0
725  27/12/2018  20.6  79   0.0
726  28/12/2018  18.1  70   0.0
727  29/12/2018  14.0  68   0.0
728  30/12/2018  12.6  67   0.0
729  31/12/2018  13.2  68   0.0

[730 rows x 4 columns]

In [11]:
temp["norm_rain"]=temp[10].apply(norm_rain)
temp1=rawdataframe.join(temp.set_index(1),on="date2")
temp1.rename(columns={5:'tempreture'})

C:\Users\fifine\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,date,speed,date1,time,date2,weekday,holiday,next_day_holiday,tempreture,8,10,norm_rain
id,,,,,,,,,,,,
1,1/1/2017 0:00,43.002930,"[1/1/2017, 0:00]",0,1/1/2017,7,0,1,19.2,80,0.0,0
2,1/1/2017 1:00,46.118696,"[1/1/2017, 1:00]",1,1/1/2017,7,0,1,19.2,80,0.0,0
3,1/1/2017 2:00,44.294158,"[1/1/2017, 2:00]",2,1/1/2017,7,0,1,19.2,80,0.0,0
4,1/1/2017 3:00,41.067468,"[1/1/2017, 3:00]",3,1/1/2017,7,0,1,19.2,80,0.0,0
5,1/1/2017 4:00,46.448653,"[1/1/2017, 4:00]",4,1/1/2017,7,0,1,19.2,80,0.0,0
6,1/1/2017 5:00,46.797766,"[1/1/2017, 5:00]",5,1/1/2017,7,0,1,19.2,80,0.0,0
7,1/1/2017 6:00,44.404925,"[1/1/2017, 6:00]",6,1/1/2017,7,0,1,19.2,80,0.0,0
8,1/1/2017 7:00,45.255897,"[1/1/2017, 7:00]",7,1/1/2017,7,0,1,19.2,80,0.0,0
9,1/1/2017 8:00,45.680859,"[1/1/2017, 8:00]",8,1/1/2017,7,0,1,19.2,80,0.0,0
10,1/1/2017 9:00,48.435676,"[1/1/2017, 9:00]",9,1/1/2017,7,0,1,19.2,80,0.0,0
11,1/1/2017 10:00,49.457054,"[1/1/2017, 10:00]",10,1/1/2017,7,0,1,19.2,80,0.0,0
12,1/1/2017 11:00,41.968519,"[1/1/2017, 11:00]",11,1/1/2017,7,0,1,19.2,80,0.0,0
13,1/1/2017 12:00,42.724735,"[1/1/2017, 12:00]",12,1/1/2017,7,0,1,19.2,80,0.0,0
14,1/1/2017 13:00,47.936459,"[1/1/2017, 13:00]",13,1/1/2017,7,0,1,19.2,80,0.0,0
15,1/1/2017 14:00,45.971881,"[1/1/2017, 14:00]",14,1/1/2017,7,0,1,19.2,80,0.0,0
16,1/1/2017 15:00,41.359861,"[1/1/2017, 15:00]",15,1/1/2017,7,0,1,19.2,80,0.0,0
17,1/1/2017 16:00,43.868033,"[1/1/2017, 16:00]",16,1/1/2017,7,0,1,19.2,80,0.0,0
18,1/1/2017 17:00,47.615541,"[1/1/2017, 17:00]",17,1/1/2017,7,0,1,19.2,80,0.0,0
19,1/1/2017 18:00,38.352760,"[1/1/2017, 18:00]",18,1/1/2017,7,0,1,19.2,80,0.0,0
20,1/1/2017 19:00,47.268928,"[1/1/2017, 19:00]",19,1/1/2017,7,0,1,19.2,80,0.0,0
21,1/1/2017 20:00,46.444756,"[1/1/2017, 20:00]",20,1/1/2017,7,0,1,19.2,80,0.0,0
22,1/1/2017 21:00,41.981908,"[1/1/2017, 21:00]",21,1/1/2017,7,0,1,19.2,80,0.0,0
23,1/1/2017 22:00,39.817240,"[1/1/2017, 22:00]",22,1/1/2017,7,0,1,19.2,80,0.0,0
24,1/1/2017 23:00,44.277821,"[1/1/2017, 23:00]",23,1/1/2017,7,0,1,19.2,80,0.0,0
25,2/1/2017 0:00,47.621563,"[2/1/2017, 0:00]",0,2/1/2017,1,1,0,20.2,81,0.0,0
26,2/1/2017 1:00,47.070161,"[2/1/2017, 1:00]",1,2/1/2017,1,1,0,20.2,81,0.0,0
27,2/1/2017 2:00,46.894923,"[2/1/2017, 2:00]",2,2/1/2017,1,1,0,20.2,81,0.0,0
28,2/1/2017 3:00,47.061395,"[2/1/2017, 3:00]",3,2/1/2017,1,1,0,20.2,81,0.0,0
29,2/1/2017 4:00,47.016156,"[2/1/2017, 4:00]",4,2/1/2017,1,1,0,20.2,81,0.0,0
30,2/1/2017 5:00,44.826296,"[2/1/2017, 5:00]",5,2/1/2017,1,1,0,20.2,81,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
13987,29/12/2018 11:00,37.580248,"[29/12/2018, 11:00]",11,29/12/2018,6,0,0,14.0,68,0.0,0
13988,29/12/2018 13:00,19.302403,"[29/12/2018, 13:00]",13,29/12/2018,6,0,0,14.0,68,0.0,0
13989,29/12/2018 16:00,19.888225,"[29/12/2018, 16:00]",16,29/12/2018,6,0,0,14.0,68,0.0,0
13990,29/12/2018 17:00,26.485295,"[29/12/2018, 17:00]",17,29/12/2018,6,0,0,14.0,68,0.0,0
13991,29/12/2018 18:00,29.524595,"[29/12/2018, 18:00]",18,29/12/2018,6,0,0,14.0,68,0.0,0
13992,29/12/2018 20:00,42.579429,"[29/12/2018, 20:00]",20,29/12/2018,6,0,0,14.0,68,0.0,0
13993,29/12/2018 23:00,36.564350,"[29/12/2018, 23:00]",23,29/12/2018,6,0,0,14.0,68,0.0,0
13994,30/12/2018 2:00,45.401721,"[30/12/2018, 2:00]",2,30/12/2018,7,0,0,12.6,67,0.0,0
13995,30/12/2018 8:00,49.764772,"[30/12/2018, 8:00]",8,30/12/2018,7,0,0,12.6,67,0.0,0
13996,30/12/2018 10:00,45.744544,"[30/12/2018, 10:00]",10,30/12/2018,7,0,0,12.6,67,0.0,0
13997,30/12/2018 11:00,39.989666,"[30/12/2018, 11:00]",11,30/12/2018,7,0,0,12.6,67,0.0,0
13998,30/12/2018 12:00,43.363523,"[30/12/2018, 12:00]",12,30/12/2018,7,0,0,12.6,67,0.0,0
13999,30/12/2018 13:00,45.508154,"[30/12/2018, 13:00]",13,30/12/2018,7,0,0,12.6,67,0.0,0
14000,30/12/2018 16:00,40.334074,"[30/12/2018, 16:00]",16,30/12/2018,7,0,0,12.6,67,0.0,0
14001,30/12/2018 19:00,44.876075,"[30/12/2018, 19:00]",19,30/12/2018,7,0,0,12.6,67,0.0,0
14002,30/12/2018 21:00,40.222742,"[30/12/2018, 21:00]",21,30/12/2018,7,0,0,12.6,67,0.0,0
14003,30/12/2018 22:00,34.760750,"[30/12/2018, 22:00]",22,30/12/2018,7,0,0,12.6,67,0.0,0
14004,31/12/2018 1:00,47.808332,"[31/12/2018, 1:00]",1,31/12/2018,1,0,0,13.2,68,0.0,0
14005,31/12/2018 2:00,46.536514,"[31/12/2018, 2:00]",2,31/12/2018,1,0,0,13.2,68,0.0,0
14006,31/12/2018 3:00,46.702505,"[31/12/2018, 3:00]",3,31/12/2018,1,0,0,13.2,68,0.0,0
14007,31/12/2018 4:00,46.949353,"[31/12/2018, 4:00]",4,31/12/2018,1,0,0,13.2,68,0.0,0
14008,31/12/2018 7:00,39.646151,"[31/12/2018, 7:00]",7,31/12/2018,1,0,0,13.2,68,0.0,0
14009,31/12/2018 8:00,19.509383,"[31/12/2018, 8:00]",8,31/12/2018,1,0,0,13.2,68,0.0,0
14010,31/12/2018 9:00,20.291883,"[31/12/2018, 9:00]",9,31/12/2018,1,0,0,13.2,68,0.0,0
14011,31/12/2018 10:00,33.851121,"[31/12/2018, 10:00]",10,31/12/2018,1,0,0,13.2,68,0.0,0
14012,31/12/2018 12:00,19.865269,"[31/12/2018, 12:00]",12,31/12/2018,1,0,0,13.2,68,0.0,0
14013,31/12/2018 15:00,17.820375,"[31/12/2018, 15:00]",15,31/12/2018,1,0,0,13.2,68,0.0,0
14014,31/12/2018 16:00,12.501851,"[31/12/2018, 16:00]",16,31/12/2018,1,0,0,13.2,68,0.0,0
14015,31/12/2018 18:00,15.979319,"[31/12/2018, 18:00]",18,31/12/2018,1,0,0,13.2,68,0.0,0
14016,31/12/2018 20:00,40.594183,"[31/12/2018, 20:00]",20,31/12/2018,1,0,0,13.2,68,0.0,0

In [14]:
temp1.drop(["date","date1","date2"],axis=1,inplace=True)

KeyError: "['date' 'date1' 'date2'] not found in axis"

In [15]:
temp1

,speed,time,weekday,holiday,next_day_holiday,5,8,10,norm_rain
id,,,,,,,,,
1,43.002930,0,7,0,1,19.2,80,0.0,0
2,46.118696,1,7,0,1,19.2,80,0.0,0
3,44.294158,2,7,0,1,19.2,80,0.0,0
4,41.067468,3,7,0,1,19.2,80,0.0,0
5,46.448653,4,7,0,1,19.2,80,0.0,0
6,46.797766,5,7,0,1,19.2,80,0.0,0
7,44.404925,6,7,0,1,19.2,80,0.0,0
8,45.255897,7,7,0,1,19.2,80,0.0,0
9,45.680859,8,7,0,1,19.2,80,0.0,0
10,48.435676,9,7,0,1,19.2,80,0.0,0
11,49.457054,10,7,0,1,19.2,80,0.0,0
12,41.968519,11,7,0,1,19.2,80,0.0,0
13,42.724735,12,7,0,1,19.2,80,0.0,0
14,47.936459,13,7,0,1,19.2,80,0.0,0
15,45.971881,14,7,0,1,19.2,80,0.0,0
16,41.359861,15,7,0,1,19.2,80,0.0,0
17,43.868033,16,7,0,1,19.2,80,0.0,0
18,47.615541,17,7,0,1,19.2,80,0.0,0
19,38.352760,18,7,0,1,19.2,80,0.0,0
20,47.268928,19,7,0,1,19.2,80,0.0,0
21,46.444756,20,7,0,1,19.2,80,0.0,0
22,41.981908,21,7,0,1,19.2,80,0.0,0
23,39.817240,22,7,0,1,19.2,80,0.0,0
24,44.277821,23,7,0,1,19.2,80,0.0,0
25,47.621563,0,1,1,0,20.2,81,0.0,0
26,47.070161,1,1,1,0,20.2,81,0.0,0
27,46.894923,2,1,1,0,20.2,81,0.0,0
28,47.061395,3,1,1,0,20.2,81,0.0,0
29,47.016156,4,1,1,0,20.2,81,0.0,0
30,44.826296,5,1,1,0,20.2,81,0.0,0
...,...,...,...,...,...,...,...,...,...
13987,37.580248,11,6,0,0,14.0,68,0.0,0
13988,19.302403,13,6,0,0,14.0,68,0.0,0
13989,19.888225,16,6,0,0,14.0,68,0.0,0
13990,26.485295,17,6,0,0,14.0,68,0.0,0
13991,29.524595,18,6,0,0,14.0,68,0.0,0
13992,42.579429,20,6,0,0,14.0,68,0.0,0
13993,36.564350,23,6,0,0,14.0,68,0.0,0
13994,45.401721,2,7,0,0,12.6,67,0.0,0
13995,49.764772,8,7,0,0,12.6,67,0.0,0
13996,45.744544,10,7,0,0,12.6,67,0.0,0
13997,39.989666,11,7,0,0,12.6,67,0.0,0
13998,43.363523,12,7,0,0,12.6,67,0.0,0
13999,45.508154,13,7,0,0,12.6,67,0.0,0
14000,40.334074,16,7,0,0,12.6,67,0.0,0
14001,44.876075,19,7,0,0,12.6,67,0.0,0
14002,40.222742,21,7,0,0,12.6,67,0.0,0
14003,34.760750,22,7,0,0,12.6,67,0.0,0
14004,47.808332,1,1,0,0,13.2,68,0.0,0
14005,46.536514,2,1,0,0,13.2,68,0.0,0
14006,46.702505,3,1,0,0,13.2,68,0.0,0
14007,46.949353,4,1,0,0,13.2,68,0.0,0
14008,39.646151,7,1,0,0,13.2,68,0.0,0
14009,19.509383,8,1,0,0,13.2,68,0.0,0
14010,20.291883,9,1,0,0,13.2,68,0.0,0
14011,33.851121,10,1,0,0,13.2,68,0.0,0
14012,19.865269,12,1,0,0,13.2,68,0.0,0
14013,17.820375,15,1,0,0,13.2,68,0.0,0
14014,12.501851,16,1,0,0,13.2,68,0.0,0
14015,15.979319,18,1,0,0,13.2,68,0.0,0
14016,40.594183,20,1,0,0,13.2,68,0.0,0

In [16]:
temp1=temp1.rename(columns={5:'tempreture',8:'wet'})

In [18]:
y=temp1.speed
X=temp1.drop(["speed"],axis=1)

In [21]:
import xgboost as xgb
from sklearn.model_selection import KFold
from sklearn.model_selection import GridSearchCV
xgb_model = xgb.XGBRegressor()
kfold = KFold(n_splits=5, shuffle=True, random_state=345) 

param_grid = {
    'learning_rate':[0.30,0.28,0.32],
    'max_depth':[5,6,7],
    'subsample':[0.8,1],  
    'n_estimators': list(range(200, 320, 20))
}
grid_search = GridSearchCV(estimator=xgb_model, scoring='neg_mean_squared_error', param_grid=param_grid, n_jobs=-1, cv=kfold)
grid_result = grid_search.fit(X, y)

In [22]:
print(f'Best: {grid_result.best_score_} using {grid_result.best_params_}','\n')

Best: -12.310946186671734 using {'learning_rate': 0.28, 'max_depth': 6, 'n_estimators': 200, 'subsample': 1}

In [23]:
best_estimator=grid_search.best_estimator_
best_estimator

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.28, max_delta_step=0, max_depth=6,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=200, n_jobs=0, num_parallel_tree=1,
             objective='reg:squarederror', random_state=0, reg_alpha=0,
             reg_lambda=1, scale_pos_weight=1, subsample=1, tree_method='exact',
             validate_parameters=1, verbosity=None)

In [25]:
xgb_bestmodel=xgb.XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.28, max_delta_step=0, max_depth=6,
             min_child_weight=1,monotone_constraints='()',
             n_estimators=200, n_jobs=0, num_parallel_tree=1,
             objective='reg:squarederror', random_state=0, reg_alpha=0,
             reg_lambda=1, scale_pos_weight=1, subsample=1, tree_method='exact',
             validate_parameters=1, verbosity=None)
xgb_bestmodel.fit(X,y)
#result=xgb_bestmodel.predict(testdata)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.28, max_delta_step=0, max_depth=6,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=200, n_jobs=0, num_parallel_tree=1,
             objective='reg:squarederror', random_state=0, reg_alpha=0,
             reg_lambda=1, scale_pos_weight=1, subsample=1, tree_method='exact',
             validate_parameters=1, verbosity=None)

In [26]:
test=pd.read_csv("C:\\Users\\fifine\\Desktop\\HKUST\\sem1\\5001\\kaggle\\original_test.csv",header='infer')
test=test.set_index("id")
test['date1']=test["date"].astype(str).str.split( )
test['time']=test['date1'].apply(lambda x:x[1])
test['time']=test['time'].apply(lambda x:int(x[:-3]))
test['date2']=test['date1'].apply(lambda x:x[0])
test['weekday']=test['date2'].apply(lambda x: datetime.strptime(x, '%d/%m/%Y').isoweekday())
test['holiday']=test['date2'].apply(holiday)
test['next_day_holiday']=test['date2'].apply(next_day_holiday)
test

,date,date1,time,date2,weekday,holiday,next_day_holiday
id,,,,,,,
0,1/1/2018 2:00,"[1/1/2018, 2:00]",2,1/1/2018,1,1,0
1,1/1/2018 5:00,"[1/1/2018, 5:00]",5,1/1/2018,1,1,0
2,1/1/2018 7:00,"[1/1/2018, 7:00]",7,1/1/2018,1,1,0
3,1/1/2018 8:00,"[1/1/2018, 8:00]",8,1/1/2018,1,1,0
4,1/1/2018 10:00,"[1/1/2018, 10:00]",10,1/1/2018,1,1,0
5,1/1/2018 16:00,"[1/1/2018, 16:00]",16,1/1/2018,1,1,0
6,1/1/2018 18:00,"[1/1/2018, 18:00]",18,1/1/2018,1,1,0
7,2/1/2018 1:00,"[2/1/2018, 1:00]",1,2/1/2018,2,0,0
8,2/1/2018 2:00,"[2/1/2018, 2:00]",2,2/1/2018,2,0,0
9,2/1/2018 7:00,"[2/1/2018, 7:00]",7,2/1/2018,2,0,0
10,2/1/2018 10:00,"[2/1/2018, 10:00]",10,2/1/2018,2,0,0
11,2/1/2018 14:00,"[2/1/2018, 14:00]",14,2/1/2018,2,0,0
12,2/1/2018 15:00,"[2/1/2018, 15:00]",15,2/1/2018,2,0,0
13,2/1/2018 16:00,"[2/1/2018, 16:00]",16,2/1/2018,2,0,0
14,2/1/2018 19:00,"[2/1/2018, 19:00]",19,2/1/2018,2,0,0
15,2/1/2018 20:00,"[2/1/2018, 20:00]",20,2/1/2018,2,0,0
16,2/1/2018 22:00,"[2/1/2018, 22:00]",22,2/1/2018,2,0,0
17,2/1/2018 23:00,"[2/1/2018, 23:00]",23,2/1/2018,2,0,0
18,3/1/2018 0:00,"[3/1/2018, 0:00]",0,3/1/2018,3,0,0
19,3/1/2018 3:00,"[3/1/2018, 3:00]",3,3/1/2018,3,0,0
20,3/1/2018 5:00,"[3/1/2018, 5:00]",5,3/1/2018,3,0,0
21,3/1/2018 6:00,"[3/1/2018, 6:00]",6,3/1/2018,3,0,0
22,3/1/2018 9:00,"[3/1/2018, 9:00]",9,3/1/2018,3,0,0
23,3/1/2018 10:00,"[3/1/2018, 10:00]",10,3/1/2018,3,0,0
24,3/1/2018 11:00,"[3/1/2018, 11:00]",11,3/1/2018,3,0,0
25,3/1/2018 14:00,"[3/1/2018, 14:00]",14,3/1/2018,3,0,0
26,3/1/2018 15:00,"[3/1/2018, 15:00]",15,3/1/2018,3,0,0
27,3/1/2018 16:00,"[3/1/2018, 16:00]",16,3/1/2018,3,0,0
28,3/1/2018 17:00,"[3/1/2018, 17:00]",17,3/1/2018,3,0,0
29,3/1/2018 18:00,"[3/1/2018, 18:00]",18,3/1/2018,3,0,0
...,...,...,...,...,...,...,...
3474,29/12/2018 14:00,"[29/12/2018, 14:00]",14,29/12/2018,6,0,0
3475,29/12/2018 15:00,"[29/12/2018, 15:00]",15,29/12/2018,6,0,0
3476,29/12/2018 19:00,"[29/12/2018, 19:00]",19,29/12/2018,6,0,0
3477,29/12/2018 21:00,"[29/12/2018, 21:00]",21,29/12/2018,6,0,0
3478,29/12/2018 22:00,"[29/12/2018, 22:00]",22,29/12/2018,6,0,0
3479,30/12/2018 0:00,"[30/12/2018, 0:00]",0,30/12/2018,7,0,0
3480,30/12/2018 1:00,"[30/12/2018, 1:00]",1,30/12/2018,7,0,0
3481,30/12/2018 3:00,"[30/12/2018, 3:00]",3,30/12/2018,7,0,0
3482,30/12/2018 4:00,"[30/12/2018, 4:00]",4,30/12/2018,7,0,0
3483,30/12/2018 5:00,"[30/12/2018, 5:00]",5,30/12/2018,7,0,0
3484,30/12/2018 6:00,"[30/12/2018, 6:00]",6,30/12/2018,7,0,0
3485,30/12/2018 7:00,"[30/12/2018, 7:00]",7,30/12/2018,7,0,0
3486,30/12/2018 9:00,"[30/12/2018, 9:00]",9,30/12/2018,7,0,0
3487,30/12/2018 14:00,"[30/12/2018, 14:00]",14,30/12/2018,7,0,0
3488,30/12/2018 15:00,"[30/12/2018, 15:00]",15,30/12/2018,7,0,0
3489,30/12/2018 17:00,"[30/12/2018, 17:00]",17,30/12/2018,7,0,0
3490,30/12/2018 18:00,"[30/12/2018, 18:00]",18,30/12/2018,7,0,0
3491,30/12/2018 20:00,"[30/12/2018, 20:00]",20,30/12/2018,7,0,0
3492,30/12/2018 23:00,"[30/12/2018, 23:00]",23,30/12/2018,7,0,0
3493,31/12/2018 0:00,"[31/12/2018, 0:00]",0,31/12/2018,1,0,0
3494,31/12/2018 5:00,"[31/12/2018, 5:00]",5,31/12/2018,1,0,0
3495,31/12/2018 6:00,"[31/12/2018, 6:00]",6,31/12/2018,1,0,0
3496,31/12/2018 11:00,"[31/12/2018, 11:00]",11,31/12/2018,1,0,0
3497,31/12/2018 13:00,"[31/12/2018, 13:00]",13,31/12/2018,1,0,0
3498,31/12/2018 14:00,"[31/12/2018, 14:00]",14,31/12/2018,1,0,0
3499,31/12/2018 17:00,"[31/12/2018, 17:00]",17,31/12/2018,1,0,0
3500,31/12/2018 19:00,"[31/12/2018, 19:00]",19,31/12/2018,1,0,0
3501,31/12/2018 21:00,"[31/12/2018, 21:00]",21,31/12/2018,1,0,0
3502,31/12/2018 22:00,"[31/12/2018, 22:00]",22,31/12/2018,1,0,0
3503,31/12/2018 23:00,"[31/12/2018, 23:00]",23,31/12/2018,1,0,0

In [27]:
temp1=test.join(temp.set_index(1),on="date2")
temp1.rename(columns={5:'tempreture'})

,date,date1,time,date2,weekday,holiday,next_day_holiday,tempreture,8,10,norm_rain
id,,,,,,,,,,,
0,1/1/2018 2:00,"[1/1/2018, 2:00]",2,1/1/2018,1,1,0,17.3,78,0.0,0
1,1/1/2018 5:00,"[1/1/2018, 5:00]",5,1/1/2018,1,1,0,17.3,78,0.0,0
2,1/1/2018 7:00,"[1/1/2018, 7:00]",7,1/1/2018,1,1,0,17.3,78,0.0,0
3,1/1/2018 8:00,"[1/1/2018, 8:00]",8,1/1/2018,1,1,0,17.3,78,0.0,0
4,1/1/2018 10:00,"[1/1/2018, 10:00]",10,1/1/2018,1,1,0,17.3,78,0.0,0
5,1/1/2018 16:00,"[1/1/2018, 16:00]",16,1/1/2018,1,1,0,17.3,78,0.0,0
6,1/1/2018 18:00,"[1/1/2018, 18:00]",18,1/1/2018,1,1,0,17.3,78,0.0,0
7,2/1/2018 1:00,"[2/1/2018, 1:00]",1,2/1/2018,2,0,0,17.8,78,0.0,0
8,2/1/2018 2:00,"[2/1/2018, 2:00]",2,2/1/2018,2,0,0,17.8,78,0.0,0
9,2/1/2018 7:00,"[2/1/2018, 7:00]",7,2/1/2018,2,0,0,17.8,78,0.0,0
10,2/1/2018 10:00,"[2/1/2018, 10:00]",10,2/1/2018,2,0,0,17.8,78,0.0,0
11,2/1/2018 14:00,"[2/1/2018, 14:00]",14,2/1/2018,2,0,0,17.8,78,0.0,0
12,2/1/2018 15:00,"[2/1/2018, 15:00]",15,2/1/2018,2,0,0,17.8,78,0.0,0
13,2/1/2018 16:00,"[2/1/2018, 16:00]",16,2/1/2018,2,0,0,17.8,78,0.0,0
14,2/1/2018 19:00,"[2/1/2018, 19:00]",19,2/1/2018,2,0,0,17.8,78,0.0,0
15,2/1/2018 20:00,"[2/1/2018, 20:00]",20,2/1/2018,2,0,0,17.8,78,0.0,0
16,2/1/2018 22:00,"[2/1/2018, 22:00]",22,2/1/2018,2,0,0,17.8,78,0.0,0
17,2/1/2018 23:00,"[2/1/2018, 23:00]",23,2/1/2018,2,0,0,17.8,78,0.0,0
18,3/1/2018 0:00,"[3/1/2018, 0:00]",0,3/1/2018,3,0,0,19.4,76,0.0,0
19,3/1/2018 3:00,"[3/1/2018, 3:00]",3,3/1/2018,3,0,0,19.4,76,0.0,0
20,3/1/2018 5:00,"[3/1/2018, 5:00]",5,3/1/2018,3,0,0,19.4,76,0.0,0
21,3/1/2018 6:00,"[3/1/2018, 6:00]",6,3/1/2018,3,0,0,19.4,76,0.0,0
22,3/1/2018 9:00,"[3/1/2018, 9:00]",9,3/1/2018,3,0,0,19.4,76,0.0,0
23,3/1/2018 10:00,"[3/1/2018, 10:00]",10,3/1/2018,3,0,0,19.4,76,0.0,0
24,3/1/2018 11:00,"[3/1/2018, 11:00]",11,3/1/2018,3,0,0,19.4,76,0.0,0
25,3/1/2018 14:00,"[3/1/2018, 14:00]",14,3/1/2018,3,0,0,19.4,76,0.0,0
26,3/1/2018 15:00,"[3/1/2018, 15:00]",15,3/1/2018,3,0,0,19.4,76,0.0,0
27,3/1/2018 16:00,"[3/1/2018, 16:00]",16,3/1/2018,3,0,0,19.4,76,0.0,0
28,3/1/2018 17:00,"[3/1/2018, 17:00]",17,3/1/2018,3,0,0,19.4,76,0.0,0
29,3/1/2018 18:00,"[3/1/2018, 18:00]",18,3/1/2018,3,0,0,19.4,76,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...
3474,29/12/2018 14:00,"[29/12/2018, 14:00]",14,29/12/2018,6,0,0,14.0,68,0.0,0
3475,29/12/2018 15:00,"[29/12/2018, 15:00]",15,29/12/2018,6,0,0,14.0,68,0.0,0
3476,29/12/2018 19:00,"[29/12/2018, 19:00]",19,29/12/2018,6,0,0,14.0,68,0.0,0
3477,29/12/2018 21:00,"[29/12/2018, 21:00]",21,29/12/2018,6,0,0,14.0,68,0.0,0
3478,29/12/2018 22:00,"[29/12/2018, 22:00]",22,29/12/2018,6,0,0,14.0,68,0.0,0
3479,30/12/2018 0:00,"[30/12/2018, 0:00]",0,30/12/2018,7,0,0,12.6,67,0.0,0
3480,30/12/2018 1:00,"[30/12/2018, 1:00]",1,30/12/2018,7,0,0,12.6,67,0.0,0
3481,30/12/2018 3:00,"[30/12/2018, 3:00]",3,30/12/2018,7,0,0,12.6,67,0.0,0
3482,30/12/2018 4:00,"[30/12/2018, 4:00]",4,30/12/2018,7,0,0,12.6,67,0.0,0
3483,30/12/2018 5:00,"[30/12/2018, 5:00]",5,30/12/2018,7,0,0,12.6,67,0.0,0
3484,30/12/2018 6:00,"[30/12/2018, 6:00]",6,30/12/2018,7,0,0,12.6,67,0.0,0
3485,30/12/2018 7:00,"[30/12/2018, 7:00]",7,30/12/2018,7,0,0,12.6,67,0.0,0
3486,30/12/2018 9:00,"[30/12/2018, 9:00]",9,30/12/2018,7,0,0,12.6,67,0.0,0
3487,30/12/2018 14:00,"[30/12/2018, 14:00]",14,30/12/2018,7,0,0,12.6,67,0.0,0
3488,30/12/2018 15:00,"[30/12/2018, 15:00]",15,30/12/2018,7,0,0,12.6,67,0.0,0
3489,30/12/2018 17:00,"[30/12/2018, 17:00]",17,30/12/2018,7,0,0,12.6,67,0.0,0
3490,30/12/2018 18:00,"[30/12/2018, 18:00]",18,30/12/2018,7,0,0,12.6,67,0.0,0
3491,30/12/2018 20:00,"[30/12/2018, 20:00]",20,30/12/2018,7,0,0,12.6,67,0.0,0
3492,30/12/2018 23:00,"[30/12/2018, 23:00]",23,30/12/2018,7,0,0,12.6,67,0.0,0
3493,31/12/2018 0:00,"[31/12/2018, 0:00]",0,31/12/2018,1,0,0,13.2,68,0.0,0
3494,31/12/2018 5:00,"[31/12/2018, 5:00]",5,31/12/2018,1,0,0,13.2,68,0.0,0
3495,31/12/2018 6:00,"[31/12/2018, 6:00]",6,31/12/2018,1,0,0,13.2,68,0.0,0
3496,31/12/2018 11:00,"[31/12/2018, 11:00]",11,31/12/2018,1,0,0,13.2,68,0.0,0
3497,31/12/2018 13:00,"[31/12/2018, 13:00]",13,31/12/2018,1,0,0,13.2,68,0.0,0
3498,31/12/2018 14:00,"[31/12/2018, 14:00]",14,31/12/2018,1,0,0,13.2,68,0.0,0
3499,31/12/2018 17:00,"[31/12/2018, 17:00]",17,31/12/2018,1,0,0,13.2,68,0.0,0
3500,31/12/2018 19:00,"[31/12/2018, 19:00]",19,31/12/2018,1,0,0,13.2,68,0.0,0
3501,31/12/2018 21:00,"[31/12/2018, 21:00]",21,31/12/2018,1,0,0,13.2,68,0.0,0
3502,31/12/2018 22:00,"[31/12/2018, 22:00]",22,31/12/2018,1,0,0,13.2,68,0.0,0
3503,31/12/2018 23:00,"[31/12/2018, 23:00]",23,31/12/2018,1,0,0,13.2,68,0.0,0

In [28]:
temp1.drop(["date","date1","date2"],axis=1,inplace=True)

In [31]:
temp1=temp1.rename(columns={5:'tempreture',8:'wet'})
temp1

,time,weekday,holiday,next_day_holiday,tempreture,wet,10,norm_rain
id,,,,,,,,
0,2,1,1,0,17.3,78,0.0,0
1,5,1,1,0,17.3,78,0.0,0
2,7,1,1,0,17.3,78,0.0,0
3,8,1,1,0,17.3,78,0.0,0
4,10,1,1,0,17.3,78,0.0,0
5,16,1,1,0,17.3,78,0.0,0
6,18,1,1,0,17.3,78,0.0,0
7,1,2,0,0,17.8,78,0.0,0
8,2,2,0,0,17.8,78,0.0,0
9,7,2,0,0,17.8,78,0.0,0
10,10,2,0,0,17.8,78,0.0,0
11,14,2,0,0,17.8,78,0.0,0
12,15,2,0,0,17.8,78,0.0,0
13,16,2,0,0,17.8,78,0.0,0
14,19,2,0,0,17.8,78,0.0,0
15,20,2,0,0,17.8,78,0.0,0
16,22,2,0,0,17.8,78,0.0,0
17,23,2,0,0,17.8,78,0.0,0
18,0,3,0,0,19.4,76,0.0,0
19,3,3,0,0,19.4,76,0.0,0
20,5,3,0,0,19.4,76,0.0,0
21,6,3,0,0,19.4,76,0.0,0
22,9,3,0,0,19.4,76,0.0,0
23,10,3,0,0,19.4,76,0.0,0
24,11,3,0,0,19.4,76,0.0,0
25,14,3,0,0,19.4,76,0.0,0
26,15,3,0,0,19.4,76,0.0,0
27,16,3,0,0,19.4,76,0.0,0
28,17,3,0,0,19.4,76,0.0,0
29,18,3,0,0,19.4,76,0.0,0
...,...,...,...,...,...,...,...,...
3474,14,6,0,0,14.0,68,0.0,0
3475,15,6,0,0,14.0,68,0.0,0
3476,19,6,0,0,14.0,68,0.0,0
3477,21,6,0,0,14.0,68,0.0,0
3478,22,6,0,0,14.0,68,0.0,0
3479,0,7,0,0,12.6,67,0.0,0
3480,1,7,0,0,12.6,67,0.0,0
3481,3,7,0,0,12.6,67,0.0,0
3482,4,7,0,0,12.6,67,0.0,0
3483,5,7,0,0,12.6,67,0.0,0
3484,6,7,0,0,12.6,67,0.0,0
3485,7,7,0,0,12.6,67,0.0,0
3486,9,7,0,0,12.6,67,0.0,0
3487,14,7,0,0,12.6,67,0.0,0
3488,15,7,0,0,12.6,67,0.0,0
3489,17,7,0,0,12.6,67,0.0,0
3490,18,7,0,0,12.6,67,0.0,0
3491,20,7,0,0,12.6,67,0.0,0
3492,23,7,0,0,12.6,67,0.0,0
3493,0,1,0,0,13.2,68,0.0,0
3494,5,1,0,0,13.2,68,0.0,0
3495,6,1,0,0,13.2,68,0.0,0
3496,11,1,0,0,13.2,68,0.0,0
3497,13,1,0,0,13.2,68,0.0,0
3498,14,1,0,0,13.2,68,0.0,0
3499,17,1,0,0,13.2,68,0.0,0
3500,19,1,0,0,13.2,68,0.0,0
3501,21,1,0,0,13.2,68,0.0,0
3502,22,1,0,0,13.2,68,0.0,0
3503,23,1,0,0,13.2,68,0.0,0

In [32]:
result=xgb_bestmodel.predict(temp1)

In [33]:
result

array([47.64546 , 47.578896, 39.90733 , ..., 46.16332 , 40.06335 ,
       44.797096], dtype=float32)

In [34]:
np.savetxt('C:\\Users\\fifine\\Desktop\\HKUST\\sem1\\5001\\kaggle\\test.csv',result,delimiter=',')